<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        width: 100%;
        height: 100%;
      }
      .container {
        display: flex;
        flex-direction: column;
        margin: 0 2em;
        height: 100vh;
      }
      a {
        text-decoration: none;
      }
      .lab {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin: 4em 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="lab">
        <h1>This is the result</h1>
        <div class="screen">
            <h2>Executed</h2>
        </div>
      </div>
    </div>
  </body>
</html>
